body{
    background-color: rgb(148, 148, 148);
}
.photo-wrapper {
	position: relative;
	width: 80px;
	height: 80px;
	cursor: pointer;
}
.user-photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition: 0.3s;
}
.photo-wrapper:hover .user-photo {
	filter: brightness(60%);
}
.photo-wrapper::after {
	content: "+";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
	font-weight: bold;
	opacity: 0;
	transition: 0.3s;
}
.photo-wrapper:hover::after {
	opacity: 0.6;
}